TOTP Delay Window

**Is your feature request related to a problem? Please describe.**
When using TOTP, I frequently fail to authenticate to PiKVM because the OTP that was valid when generated is no longer valid by the time I've pasted it in.

**Describe the solution you'd like**
[RFC 6238 §5.2](https://datatracker.ietf.org/doc/html/rfc6238#section-5.2) recommends that a transmission delay be allowed, not longer than a single step (in this case 30 seconds).

I think 5 seconds or so would be plenty for reading a TOTP from a device or software and typing or pasting it into the login dialog. In other words, if the previous OTP expired less than 5 seconds ago, it should be considered valid, with a 5 second transmission delay. (Note that transmission in practice includes the time it takes for the user to move the OTP from where it's stored to where it's submitted.)

**Describe alternatives you've considered**
#1258 would also be great as an alternative, but I personally like to also have TOTP as a backup in case I lose a security key.

**Additional context**
None that I can think of.

Hello. I've extended window with a single step, I think it's usable and secure enough. Released.

Awesome. Thank you!